.password-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.indicators {
  display: flex;
  gap: 20px;
}

.strength-section {
  height: 12px;
  width: 12px;
  border-radius: 10px;
}

input {
  font-size: 2rem;
  height: 2rem;
}
